body
{
    background-image: url("background1.jpg");
}
.instruction{
    float:right;
    border:white 2px solid;
}
.header{
    width:100%;
    border-radius: 0px;
    text-align: left;
}
#title{
    display: inline;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal-dialog{
    width:90%;
    font-size: 20px;
}
h4{
    line-height:2;
    background-color:white;
    margin:0px;
    position:fixed;
    bottom:0px;
    width:100%;
    background-color: cyan;
    text-align:center;
    font-weight:bold;
}